@use 'libs/shared/ui-layout/src/lib/styles/palette' as palette;
@use 'libs/shared/ui-layout/src/lib/styles/grid' as grid;
@use 'sass:map' as map;

@import './scss/animations';
@import './scss/override';
@import './scss/theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  font-size: 1.1rem;

  .material-icons {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  @include grid.colSizes(16);

  @include grid.gapSizes(16);

  a:link,
  a:active,
  a:visited {
    text-decoration: none;
    transition: color 200ms ease-in-out;
    color: map.get(palette.$accent, 50);
  }

  a:hover {
    color: map.get(palette.$accent, 500);
  }

  .text-warn {
    color: map.get(palette.$warn, 500);
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align: end;
  }

  .text-muted {
    opacity: 0.6;
  }

  .spacer {
    flex: 1 0 auto;
  }

  .pos-bt {
    position: fixed;
    bottom: 24px;
    right: 24px;
  }

  .overflow-x {
    // margin: 8px;
    padding: 8px;
    // width: calc(100% - 32px);
    // max-width: calc(100% - 128px);
    overflow-x: auto;
    border-radius: 4px;
    border: 1px solid #f9f9f9;
  }
}
