@use 'libs/shared/ui-layout/src/lib/styles/palette' as palette;
@use '@angular/material' as mat;

@import '@angular/cdk/overlay-prebuilt.css';

@include mat.core();

$app-primary: mat.define-palette(palette.$primary);
$app-accent: mat.define-palette(palette.$accent);
$app-warn: mat.define-palette(palette.$warn);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include mat.all-component-themes($app-theme);
